In [43]:
import pandas as pd

In [44]:
pd.options.display.max_colwidth =13  #單一資料欄位內容顯示之長度   
pd.options.display.max_rows =14           #最多顯示多少筆資料
pd.options.display.max_columns =11         #最多顯示多少個欄位

df = pd.read_csv("FABExp.csv")
df_column_name=list(df.columns)
display(df)
display(df_column_name[7:])

,date,月份,星期,淡旺季,LeadTime,...,管理部,業務一部,業務二部,深圳總產能下之總費用,CapaUtilization
0,2019/8/1,8,4,旺季,急單,...,"88,243.000","33,493.000","45,250.000","50,000,00...",86.02%
1,2019/8/2,8,5,旺季,急單,...,"86,518.000","27,652.000","44,417.000","50,000,00...",83.12%
2,2019/8/3,8,6,旺季,急單,...,"86,549.000","40,356.000","46,059.000","50,000,00...",85.25%
3,2019/8/4,8,7,旺季,急單,...,"84,827.000","27,047.000","44,321.000","50,000,00...",80.55%
4,2019/8/5,8,1,旺季,急單,...,"55,380.000","72,060.000","48,577.000","50,000,00...",77.06%
...,...,...,...,...,...,...,...,...,...,...,...
403,2020/9/7,9,1,淡季,計劃,...,"1,856,895...","29,615.000","44,715.000","50,000,00...",73.76%
404,2020/9/8,9,2,淡季,計劃,...,"2,002,566...","36,663.000","45,642.000","50,000,00...",75.45%
405,2020/9/9,9,3,淡季,計劃,...,"2,008,192...","29,604.000","44,713.000","50,000,00...",76.17%
406,2020/9/10,9,4,淡季,計劃,...,"2,082,039...","36,669.000","45,643.000","50,000,00...",73.14%
407,2020/9/11,9,5,淡季,計劃,...,"2,189,217...","29,602.000","44,713.000","50,000,00...",75.01%

['龍華一廠',
 '龍華二廠',
 '龍華三廠',
 'LCM廠',
 '觀瀾廠',
 '模具部',
 '製工部',
 '製程部',
 'QA部',
 'AI部',
 '總經理室',
 '財務部',
 '管理部',
 '業務一部',
 '業務二部',
 '深圳總產能下之總費用',
 'CapaUtilization']

In [45]:
df.describe(include="all",percentiles=[.25,.50,.75])

,date,月份,星期,淡旺季,LeadTime,...,管理部,業務一部,業務二部,深圳總產能下之總費用,CapaUtilization
count,408,408.000000,408.000000,408,408,...,408,408,408,408,408
unique,408,NaN,NaN,2,2,...,407,350,326,1,360
top,2019/8/1,NaN,NaN,旺季,急單,...,"49,302.000","26,835.000","45,642.000","50,000,00...",71.74%
freq,1,NaN,NaN,229,256,...,2,3,5,408,3
mean,NaN,6.693627,4.002451,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
std,NaN,3.318737,1.998155,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000,1.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
25%,NaN,4.000000,2.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
50%,NaN,7.000000,4.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
75%,NaN,9.000000,6.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
max,NaN,12.000000,7.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN

In [46]:
df.describe()

               月份          星期
count  408.000000  408.000000
mean     6.693627    4.002451
std      3.318737    1.998155
min      1.000000    1.000000
25%      4.000000    2.000000
50%      7.000000    4.000000
75%      9.000000    6.000000
max     12.000000    7.000000

In [47]:
pd.options.display.max_colwidth =13  #單一資料欄位內容顯示之長度   
pd.options.display.max_rows =5           #最多顯示多少筆資料
pd.options.display.max_columns =11         #最多顯示多少個欄位
df.groupby(["月份","QAIndex"]).count()

            date  星期  淡旺季  LeadTime  AI啟動  ...  管理部  業務一部  業務二部  深圳總產能下之總費用  \
月份 QAIndex                                 ...
1  紅           6   6    6         6     6  ...    6     6     6           6
   綠          25  25   25        25    25  ...   25    25    25          25
...          ...  ..  ...       ...   ...  ...  ...   ...   ...         ...
12 紅           6   6    6         6     6  ...    6     6     6           6
   綠          25  25   25        25    25  ...   25    25    25          25

            CapaUtilization
月份 QAIndex
1  紅                   6
   綠                  25
...                  ...
12 紅                   6
   綠                  25

[24 rows x 22 columns]

In [48]:
df.pivot_table(values=["LeadTime",'月份'],index=['AI啟動'],columns="龍華一廠")

                月份                                                      ...  \
龍華一廠 1,020,388.000 1,042,796.000 1,123,091.000 320,756.000 321,118.000  ...
AI啟動                                                                    ...
OFF            NaN           NaN           NaN         5.0         5.0  ...
ON             8.0           9.0           8.0         NaN         NaN  ...


龍華一廠 910,245.000 917,685.000 947,436.000 954,052.000 968,241.000
AI啟動
OFF          NaN         NaN         NaN         NaN         NaN
ON           8.0         8.0         9.0         8.0        10.0

[2 rows x 408 columns]

In [49]:
df.pivot_table(values=["LeadTime",'月份'],index=['AI啟動'],columns="AI部")

             月份                                              ...            \
AI部  10,250.000 10,355.000 10,378.000 10,601.000 10,603.000  ... 9,645.000
AI啟動                                                         ...
OFF         NaN        NaN        NaN        NaN        NaN  ...       NaN
ON          8.0       11.0       10.0        8.0        9.0  ...      10.0


AI部  9,738.000 9,745.000 9,774.000 9,957.000
AI啟動
OFF        NaN       NaN       NaN       NaN
ON        10.0      12.0      11.0       9.0

[2 rows x 397 columns]

In [50]:
df.pivot_table(values=["LeadTime",'月份'],index=['AI啟動'],columns="LCM廠")

                 月份                                               \
LCM廠 19,810,388.000 20,028,302.000 20,248,614.000 20,471,348.000
AI啟動
OFF            5.0            4.0            3.0            2.0
ON             NaN            NaN            NaN            NaN

                     ...                                               \
LCM廠 20,696,533.000  ... 27,311,730.000 27,477,742.000 27,480,844.000
AI啟動                 ...
OFF            1.0   ...           9.0            NaN            8.0
ON             NaN   ...           NaN            8.0            NaN


LCM廠 27,563,219.000 27,612,159.000
AI啟動
OFF            NaN            NaN
ON             8.0            8.0

[2 rows x 408 columns]

In [62]:
monthly_pivot=df.pivot_table(index=['淡旺季','LeadTime'],aggfunc=['sum','mean'],fill_value=0)
monthly_pivot

              sum            mean
               星期    月份        星期        月份
淡旺季 LeadTime
旺季  急單        639  1232  3.944444  7.604938
    計劃        287   436  4.283582  6.507463
淡季  急單        360   632  3.829787  6.723404
    計劃        347   431  4.082353  5.070588

In [64]:
pd.options.display.max_rows=20
monthly_pivot=df.pivot_table(index=['月份','LeadTime'],aggfunc=['sum','mean'],fill_value=0,margins=True)
monthly_pivot

               sum      mean
                星期        星期
月份  LeadTime
1   急單         101  3.884615
    計劃          23  4.600000
2   急單          84  3.818182
    計劃          34  4.857143
3   急單          61  3.588235
...            ...       ...
9   計劃          31  3.444444
10  急單         121  3.903226
11  急單         123  4.100000
12  急單         122  3.935484
All           1633  4.002451

[22 rows x 2 columns]

In [63]:
pd.options.display.max_rows=20
monthly_pivot=df.pivot_table(index=['星期','LeadTime'],aggfunc=['sum','mean'],fill_value=0,margins=True)
monthly_pivot

               sum      mean
                月份        月份
星期  LeadTime
1   急單         280  7.000000
    計劃         111  6.166667
2   急單         271  7.527778
    計劃         122  5.545455
3   急單         268  6.871795
    計劃         116  6.105263
4   急單         263  7.108108
    計劃         129  5.863636
5   急單         262  7.705882
    計劃         132  5.280000
6   急單         274  7.210526
    計劃         113  5.650000
7   急單         246  7.687500
    計劃         144  5.538462
All           2731  6.693627

In [66]:
pd.options.display.max_rows=20
monthly_pivot=df.pivot_table(index=["QAIndex",'LeadTime'],aggfunc=['sum','mean'],fill_value=0,margins=True)
monthly_pivot

                   sum            mean
                    星期    月份        星期        月份
QAIndex LeadTime
紅       急單         177   365  3.765957  7.765957
        計劃         135   158  4.354839  5.096774
綠       急單         822  1499  3.933014  7.172249
        計劃         499   709  4.123967  5.859504
All               1633  2731  4.002451  6.693627

In [67]:
df.pivot_table(index=['淡旺季'],values=['月份'],columns='QAIndex')

               月份
QAIndex         紅         綠
淡旺季
旺季       7.255814  7.290323
淡季       6.028571  5.916667

In [68]:
df.groupby(['淡旺季','QAIndex']).count()

             date   月份   星期  LeadTime  AI啟動  龍華一廠  龍華二廠  龍華三廠  LCM廠  觀瀾廠  模具部  \
淡旺季 QAIndex
旺季  紅          43   43   43        43    43    43    43    43    43   43   43
    綠         186  186  186       186   186   186   186   186   186  186  186
淡季  紅          35   35   35        35    35    35    35    35    35   35   35
    綠         144  144  144       144   144   144   144   144   144  144  144

             製工部  製程部  QA部  AI部  總經理室  財務部  管理部  業務一部  業務二部  深圳總產能下之總費用  \
淡旺季 QAIndex
旺季  紅         43   43   43   43    43   43   43    43    43          43
    綠        186  186  186  186   186  186  186   186   186         186
淡季  紅         35   35   35   35    35   35   35    35    35          35
    綠        144  144  144  144   144  144  144   144   144         144

             CapaUtilization
淡旺季 QAIndex
旺季  紅                  43
    綠                 186
淡季  紅                  35
    綠                 144

In [73]:
pd.options.display.max_rows=10
pd.options.display.max_columns=10

df.pivot_table(index=['淡旺季'],values=['龍華一廠'],columns=['LCM廠'],aggfunc=['count'])

              count                                               \
               龍華一廠
LCM廠 19,810,388.000 20,028,302.000 20,248,614.000 20,471,348.000
淡旺季
旺季             NaN            NaN            1.0            1.0
淡季             1.0            1.0            NaN            NaN

                     ...                                               \
                     ...
LCM廠 20,696,533.000  ... 27,311,730.000 27,477,742.000 27,480,844.000
淡旺季                  ...
旺季             NaN   ...           1.0            1.0            1.0
淡季             1.0   ...           NaN            NaN            NaN



LCM廠 27,563,219.000 27,612,159.000
淡旺季
旺季             NaN            NaN
淡季             1.0            1.0

[2 rows x 408 columns]